---
// Component Imports
import MainHead from '../components/MainHead.astro';
// import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead
			title="Two Mom's and A Mop"
			description=""
		/>
	</head>
	<body class='max-w-lg mx-auto md:p-8 p-2'>
		<!-- <Nav /> -->

		<header>
			<h1>Two Mom's and a Mop</h1>
		</header>
		
		<main>

			<ul>
			<li><a href="mailto:hello@twomomsandamop.ca">hello@twomomsandamop.ca</a></li>
			<li><a href="https://www.instagram.com/two.moms.and.a.mop/">Instagram</a></li>
		</ul>

		</main>
		<Footer />
	</body>
</html>
