---
// Component Imports
import MainHead from '../components/MainHead.astro';
// import Nav from '../components/Nav.astro';
import Link from '../components/Link.astro'
import Footer from '../components/Footer.astro';
import EmailIcon from '../components/icons/Email.astro'
import InstagramIcon from '../components/icons/Instagram.astro'
import PhoneIcon from '../components/icons/Phone.astro'
import SmsIcon from '../components/icons/Sms.astro';


// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead
			title="Two Mom's and A Mop"
			description="We want to provide you with more time to do what you love, while we work hard cleaning for you."
		/>
	</head>
	<body class='max-w-lg mx-auto p-8 bg-slate-50'>
		<!-- <Nav /> -->

		<header>
			<h1 class="uppercase text-center font-serif text-5xl mt-8 font-extrabold"><span class="text-transparent bg-clip-text bg-gradient-to-r from-teal-400 to-fuchsia-600">Two Mom's<br/>and a Mop</span></h1>
			<h2 class="text-center text-slate-600 mt-4 mb-16">Take time to do what you love, we'll take care of the cleaning.</h2>
		</header>
		
		<main>

			<ul>
				<li><Link href="mailto:hello@twomomsandamop.ca"><span class="flex gap-2 items-center"><EmailIcon/>Send us an email</span></Link></li>
				<li><Link href="tel:+17053020404"><span class="flex gap-2 items-center"><PhoneIcon/>Give us a call</span></Link></li>
				<li><Link href="sms:+17053020404"><span class="flex gap-2 items-center"><SmsIcon/>Send us a text</span></Link></li>
				<li><Link href="https://www.instagram.com/two.moms.and.a.mop/" target="_blank"><span class="flex gap-2 items-center"><InstagramIcon/>See us on Instagram</span></Link></li>
			</ul>

		</main>
		<Footer />
	</body>
</html>
