---
const currentYear = new Date().getFullYear();
---

<footer class="text-slate-500 text-sm text-center mt-8">
	&copy; {currentYear} Two Mom's and a Mop
	<div class="block mt-1">🚀 <a href="https://dsmedia.ca" class="text-slate-500 hover:text-blue-400">Built by DS Media</a></div>
</footer>
