---
// import '../styles/global.css';
const {
	title = `Two Mom's and a Mop`,
	description = `Take time for what you love, we'll take care of the cleaning.`,
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
